.observationIframe {
    width: 80%;
    height: 120vh;
}

.observationIframeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.mapImage {
    width: 100%; /* Make the image twice as wide */
    max-width: none; /* Remove the maximum width limit */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px; /* Add spacing above the image */
    cursor: pointer; /* Show a pointer cursor on hover */
  }