@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.teamContainer{
    margin-bottom: 6vh;
}

.teamLineBreak{
  border-bottom: 0.8vh solid rgb(70, 178, 227);
  width: 10%;
  margin-bottom: 4vh;
}

.teamTitle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: rgb(56, 80, 126);
    font-size: 6vh;
    padding: 3vh;
    padding-left:0 ;
}