@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");


.cardImage {
  object-fit: contain;
  width: 100%;
  height: 150px;
}

.featureBannerTitle {
  font-size: 3vh;
  padding: 1vh;
  font-family: 'Roboto', sans-serif;

}

.featureBannerText {
  font-size: 2vh;
  font-family: 'Roboto', sans-serif;
}


