@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.subSectionBannerContainer {
  display: flex;
  height: 40vh;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.subSectionBannerTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 7vh;
  color: rgb(56, 80, 126);
}

.subSectionBannerImageContainer {
  padding-top: 0px;
}
.subSectionBannerTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subSectionBannerContent {
  font-size: 18px;
  color: #333; /* Adjust color as needed */
  margin-top: 10px;
}