.right-half-modal {
  /* position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  margin: 0; */
  width: 340px;
  height: 300px;
  overflow: hidden;
  position: absolute;
  top: 100px;
  left: 100px;
}


.modal-dialog {
  height: 100%;
  margin: 0;
  width: 100%;
}

.modal-content {
  height: 100%;
  border-radius: 0;
}

.modal-body {
  overflow-y: auto;
}

.custom-layerlist-icon {
  /* Add your custom styles for the expand icon here */
  /* For example, you can set a background image for the icon */
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png');
  background-size: cover;
  width: 20px;
  height: 20px;
}

.custom-legend-icon {
  /* Add your custom styles for the expand icon here */
  /* For example, you can set a background image for the icon */
  background-image: url('https://cdn.icon-icons.com/icons2/2248/PNG/512/map_legend_icon_138404.png');
  background-size: cover;
  width: 20px;
  height: 20px;
}

#legend-container .esri-legend__service {
  display: flex;
  flex-direction: row; 
}

#legend-container .esri-legend__service > *{
  overflow: hidden;
}
